params {
    //READ_LENGTH=15
    //SRA_TOOLKIT_DIR="/sratoolkit.2.8.0-ubuntu64/bin"
    //SEQPURGE="/ngs-bits/bin/SeqPurge"
    cache=""
}

profiles {
  conda {
     conda.createTimeout = '3 h'

     if (params.illumina) {
       process.conda = "$baseDir/environments/illumina/environment.yml"
     }
     if (params.cache){
       conda.cacheDir = params.cache
     }
     includeConfig 'conf/conda.config'
  }
  docker {
    docker.enabled = true
    fixOwnership = true
    runOptions = "-u \$(id -u):\$(id -g)"
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true

    if (params.illumina) {
      process.container = "file:///${baseDir}/artic-ncov2019-illumina.sif"
    }
    if (params.cache){
      singularity.cacheDir = params.cache
    }
  }
  slurm {
    process.executor = 'slurm'
  }
  sge {
    process.executor = 'sge'
  }
  lsf {
    process.executor = 'lsf'
  }
  gls {
    process.executor = 'google-lifesciences'
    includeConfig 'conf/gls.config'
  }
}
//docker.runOptions = " -v ${params.cache}:/root/ncbi:rw -v ${params.output}:${params.output}:rw  "
